body{
    background-color: rgba(223,246,204,255);
}
.box1{
    background-color: rgba(170,195,165,255);
    border: 10px solid rgba(4,94,85,255);
    border-radius: 10%;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 104%;
    height: 20%;
}
.box2{
    background-color: rgba(170,195,165,0);
    border: 10px solid rgba(4,94,85,255);
    border-radius: 10%;
    position: absolute;
    top: -5%;
    left: -10%;
    width: 50%;
    height: 20%;
}
.box3{
    background-color: rgba(170,195,165,0);
    border: 10px solid rgba(4,94,85,255);
    border-radius: 10%;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 60%;
    height: 20%;
}
.box4{
    background-color: rgba(170,195,165,0);
    border: 10px solid rgba(4,94,85,255);
    border-radius: 10%;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 75%;
    height: 20%;
}
.box5{
    background-color: rgba(170,195,165,0);
    border: 10px solid rgba(4,94,85,255);
    border-radius: 10%;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 90%;
    height: 20%;
}
h1{
    position: absolute;
    top: 4.3%;
    left: 4%;
    font-size: 400%;
    font-weight: 900;
   letter-spacing: -2px;
}
.Knopf1{
    position: absolute;
    top: 30%;
    left: 52%;
    background-color: rgba(4,94,85,255);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 5px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    cursor: pointer;
    font-size: 160%;
    font-weight: 600;
    line-height: 20px;
    width: 13%;
    height: 25%;
}
.Knopf2{
    position: absolute;
    top: 60%;
    left: 52%;
    background-color: rgba(76,85,76,255);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    cursor: pointer;
    font-size: 160%;
    font-weight: 600;
    line-height: 20px;
    width: 13%;
    height: 25%;
}
.Knopf3{
    position: absolute;
    top: 30%;
    left: 68.8%;
    background-color: rgba(4,94,85,255);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    cursor: pointer;
    font-size: 160%;
    font-weight: 600;
    line-height: 20px;
    width: 13%;
    height: 25%;
}
.Knopf4{
    position: absolute;
    top: 60%;
    left: 68.8%;
    background-color: rgba(4,94,85,255);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    cursor: pointer;
    font-size: 160%;
    font-weight: 600;
    line-height: 20px;
    width: 13%;
    height: 25%;
}
.Knopf5{
    position: absolute;
    top: 30%;
    left: 85.5%;
    background-color: rgba(4,94,85,255);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    cursor: pointer;
    font-size: 160%;
    font-weight: 600;
    line-height: 20px;
    width: 13%;
    height: 15%;
}
.Knopf6{
    position: absolute;
    top: 51%;
    left: 85.5%;
    background-color: rgba(4,94,85,255);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    cursor: pointer;
    font-size: 160%;
    font-weight: 600;
    line-height: 20px;
    width: 13%;
    height: 35%;
}.Knopf7{
    position: absolute;
    top: 30%;
    left: 102%;
    background-color: rgba(4,94,85,255);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    cursor: pointer;
    font-size: 160%;
    font-weight: 600;
    line-height: 20px;
    width: 13%;
    height: 35%;
}
.Knopf8{
    position: absolute;
    top: 70%;
    left: 102%;
    background-color: rgba(4,94,85,255);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    cursor: pointer;
    font-size: 160%;
    font-weight: 600;
    line-height: 20px;
    width: 13%;
    height: 15%;
}
